RH_RPC_URL=https://rpc.mainnet.chain.robinhood.com
RH_TESTNET_RPC_URL=https://rpc.testnet.chain.robinhood.com
DEPLOYER_PRIVATE_KEY=
GUARDIAN=
COLLATERAL_TOKEN=
COLLATERAL_ASSET_ID=
INDEX_ASSET_ID=
COLLATERAL_CHAINLINK_FEED=
INDEX_CHAINLINK_FEED=

